// Theme colors
$color-primary: #497B26;
$color-background: #E6F4DC;
$color-text-dark: #000000;
$color-text: #2A2A2A;
$color-text-accent: rgba(0, 0, 0, 0.2);
$color-white: #ffffff;
$color-white-accent: rgba(225, 225, 225, 0.98);
$color-white-accent-light: rgba(225, 225, 225, 0.48);
$color-link: #a96827;
$color-accent: #e4f7d2;
$color-box-shadow: rgba(0, 0, 0, 0.2);

// Tables
$table-border-radius: 12px;
$table-padding: 0.75rem;
$table-header-bg: $color-primary;
$table-header-color: $color-white;
$table-row-hover: $color-accent;

// Border
$border-primary: $color-primary;
$border-accent: $color-accent;
$border-normal: $color-text;
$border-radius: 50px;

// Alerts
$color-alert-error: #D27C6A;
$color-alert-warning: #F9B464;
$color-alert-info: #85A6A6;
$color-alert-success: #00C896;

// Text Color Classes
.text-primary      { color: $color-primary; }
.text-background   { color: $color-background; }
.text-text         { color: $color-text; }
.text-white        { color: $color-white; }
.text-link         { color: $color-link; }
.text-accent       { color: $color-accent; }

.text-alert-error   { color: $color-alert-error; }
.text-alert-warning { color: $color-alert-warning; }
.text-alert-info    { color: $color-alert-info; }
.text-alert-success { color: $color-alert-success; }

// Gutenberg style text color classes
.has-primary-color      { color: $color-primary; }
.has-background-color   { color: $color-background; }
.has-text-color         { color: $color-text; }
.has-white-color        { color: $color-white; }
.has-link-color         { color: $color-link; }
.has-accent-color       { color: $color-accent; }

.has-alert-error-color   { color: $color-alert-error; }
.has-alert-warning-color { color: $color-alert-warning; }
.has-alert-info-color    { color: $color-alert-info; }
.has-alert-success-color { color: $color-alert-success; }

// Background Color Classes
.bg-primary      { background-color: $color-primary; }
.bg-background   { background-color: $color-background; }
.bg-text         { background-color: $color-text; }
.bg-white        { background-color: $color-white; }
.bg-link         { background-color: $color-link; }
.bg-accent       { background-color: $color-accent; }

.bg-alert-error   { background-color: $color-alert-error; }
.bg-alert-warning { background-color: $color-alert-warning; }
.bg-alert-info    { background-color: $color-alert-info; }
.bg-alert-success { background-color: $color-alert-success; }

// Gutenberg style background color classes
.has-primary-background-color      { background-color: $color-primary; }
.has-background-background-color   { background-color: $color-background; }
.has-text-background-color         { background-color: $color-text; }
.has-white-background-color        { background-color: $color-white; }
.has-link-background-color         { background-color: $color-link; }
.has-accent-background-color       { background-color: $color-accent; }

.has-alert-error-background-color   { background-color: $color-alert-error; }
.has-alert-warning-background-color { background-color: $color-alert-warning; }
.has-alert-info-background-color    { background-color: $color-alert-info; }
.has-alert-success-background-color { background-color: $color-alert-success; }